<!-- Modal -->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title header-font" id="myModalLabel">Choose Your Question Types</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="checkbox">
            <label class="modal-label">
              <input type="checkbox" name="simpleAddition">Simple Addition
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ddAddition">Double Digit Addition
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="simpleSubtraction">Simple Subtraction
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ddSubtraction">Double Digit Subtraction
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="simpleMultiplication">Simple Multiplication
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ddMultiplication">Double Digit Multiplication
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="simpleDivision">Simple Division
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success btn-login-signup" id="save-question">Save changes</button>
      </div>
    </div>
  </div>
</div>