<div class="about container">
  <div class="row">
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Steven Noble</h4>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Eddy Chang</h4>

      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">John Dwyer</h4>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Alan Lee</h4>

        <p class="about-us">Something something somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  somethig  </p>
        <%= link_to 'https://github.com/alanlee35?tab=repositories', class: "btn btn-lg" do  %>
          <p><i class="ion-social-github"></i></p>
        <% end %>
        <%= link_to 'www.linkedin.com/in/alanblee', class: "btn btn-lg" do %>
          <p><i class="ion-social-linkedin-outline"></i></p>
        <% end %>
        <%= mail_to 'alanblee12@gmail.com', class: "btn btn-lg" do %>
          <p><i class="ion-email"></i></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--       <h1>What is PokéMath</h1>
      <p>The goal of Pokemath is to have a playful and educational platform for young individuals to hone their math skills while showing them learning can be fun. Through this we hope to have a positive impact on children's lives as they continue their neverending journey of self growth.</p>
      <br><br><br>
      <p>Created by:<br>
        Steven Noble<br>
        Alan Lee<br>
        John Dwyer<br>
      & Eddy Chang</p> -->