<div class="about">
  <div id="mission">
    <h1>About</h1>
    <p class="about-statement">The goal of this site is to have a playful and educational experience for young individuals to better their math skills and show them that learning can be fun. Through this we hope to have an impact on children's lives as they continue their never-ending journey of self growth.</p>
    <br><br>
    <p>Created by:<br>
    Steven Noble<br>
    Adam Lee<br>
     John Dwyer<br>
      & Eddy Chang</p>
  </div>
</div>