<div>
  <div>
    <h1 class="about">About</h1>
    <p class="about-statement">The goal of Pokemath is to have a playful and educational platform for young individuals to hone their math skills while showing them learning can be fun. Through this we hope to have a positive impact on children's lives as they continue their neverending journey of self growth.</p>
    <br><br><br>
    <p>Created by:<br>
      Steven Noble<br>
      Alan Lee<br>
      John Dwyer<br>
    & Eddy Chang</p>
  </div>
</div>