<header>
  <%= video_tag (["theme.mp4#t=0,50"]), autoplay: '', loop: true, type: 'video/mp4', id: "video-background" %>
  <div class="header-content">
    <h1 class="cursive wow flipInX text-center"><sub class="big-p">P</sub>oKéMaTH</h1>
    <h4 class="text-center">Gotta solve 'em all!</h4>
    <p class="text-center">
      <%= link_to "Signup now!", signup_path, class: "btn btn-lg btn-primary btn-landing" %>
    </p>
  </div>
</header>
