<header>
  <div class="header-content">
    <div class="inner">
      <h1 class="cursive wow flipInX">Pokemon logo will go here</h1>
      <h4>Gotta solve them all</h4>
      <hr>
      <br><br><br>
    </div>
  </div>
 <%= video_tag (["theme.mp4"]), autoplay: '', loop: false, type:'video/mp4', id:"video-background" %>
</header>
<section>
  
</section>