<header>
  <div class="header-content">
    <h1 class="cursive wow flipInX text-center">Pokemon logo will go here</h1>
    <h4 class="text-center">Gotta solve them all</h4>
    <br><br><br>
  </div>
  <%= video_tag (["theme.mp4"]), autoplay: '', loop: true, type:'video/mp4', id:"video-background", onended:"videoEnded()"%>

</header>
<section>
  
</section>