<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
      <h4>How to play:</h4>
      <p>Use the arrow keys on the keyboard to move up and down on the board</p>
      <img src="" alt="arrows">
      </div>
    </div>
    <div class="col-md-6">
      <h4>What to do?</h4>
      <p>Move around the map and try and capture as many pokemon as possible by answering some math problems!</p>
    </div>
  </div>
</div>