<div class="container outer-container game-screen">
  <div class="container" id="game-map">
    <% @rows.times do |i| %>
      <div class="row">
        <% @columns.times do |j| %>
          <div class="col-xs-1 game-tile" data-row"<%= i+1 %>" data-col="<%= j+1 %>" id="r<%= i+1 %>c<%= j+1 %>">
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


