<div class="container">
	<% @rows.times do |i| %>
		<div class="row">
			<% @columns.times do |j| %>
				<div class="col-xs-1 game-tile" id="r<%= i %>c<%= j %>">
					asdf
				</div>
			<% end %>
		</div>
	<% end %>
</div>