// Battle page font
@font-face {
    font-family: 'pokemon_gbregular';
    src: url('pokemon_gb.eot');
    src: url('pokemon_gb.eot?#iefix') format('embedded-opentype'),
         url('pokemon_gb.woff2') format('woff2'),
         url('pokemon_gb.woff') format('woff'),
         url('pokemon_gb.ttf') format('truetype'),
         url('pokemon_gb.svg#pokemon_gbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#choose-you {
  display: none;
}

.pokemon-status {
  margin-top: 20px;
}

#hp {
  width: 100%;
}

// Styling for battle screen
#battle-screen {
  font-family: 'pokemon_gbregular';
  background-image: url('grass.png');
}


#game-map {
  margin: 0 auto;
}

.battle-toggle {
  padding: 40px;
}

#timer {
  visibility: hidden;
}

#hidden-timer {
  display: none;
}

.well {
  padding: 20px;
  margin: 0px;
  background-color: rgba(256, 256, 256, 0.3);
  border: 1px solid black;
  border-radius: 0px;
}