#choose-you {
  display: none;
}

.pokemon-status {
  margin-top: 20px;
}

#hp {
  width: 100%;
}

// Styling for battle screen
#battle-screen {
  background-color: white;
}

#game-map {
  margin: 0 auto;
}