// .battle-toggle {
//   display: none;
// }

#choose-you {
  display: none;
}

.pokemon-status {
  margin-top: 20px;
}

#hp {
  width: 100%;
}

// Styling for battle screen
#battle-screen {
  background-color: white;
  // border: 3px solid gold;
}

#game-map {
  // border: 3px solid gold;
  margin: 0 auto;
}

img {
  width: 100%;
}

body {
  background-color: #FFFF99;
}

.navbar-default {
  background-color: red;
}