$pokered: #E3350D; 

// pokefont
@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('pokemon_solid.eot');
    src: url('pokemon_solid.eot?#iefix') format('embedded-opentype'),
         url('pokemon_solid.woff2') format('woff2'),
         url('pokemon_solid.woff') format('woff'),
         url('pokemon_solid.ttf') format('truetype'),
         url('pokemon_solid.svg#pokemon_solidnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

  .game-tile {
    background-color: green;
    padding: 0;
    background-image: url('grass.png');
    background-size: cover;
  }

  .o1 {
    // obstacle 1
    background-image: url('tree.png'); 
    background-size: cover; 
  }

  .o2 {
    // obstacle 2
    background-image: url('stump.png');  
    background-size: cover; 
  }

  .o3 {
    // obstacle 3
    background-image: url('log.png');  
    background-size: cover; 
  }

  #ash {
    position: absolute;
    z-index: 9000;
  }

  .outer-container {
    padding: 0;
  }

// Styling for landing page
  body {
    font-size: 100%;
  }

  header h1 {
    font-family: 'pokemon_solidnormal';
    letter-spacing: 2.5px;
    color: white;
    font-size: 12em;
    margin-top: 12%;
    margin-bottom: 30px;
  }

  sub.big-p {
    font-size: 1.7em;
    vertical-align: sub;
  }

  header h4 {
    font-family: 'pokemon_solidnormal';
    letter-spacing: 2px;
    color: white;
    margin-top: 10px;
    font-size: 2em;
  }

  header p {
    margin-top: 30px;
  }

  .header-content{
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom:0;
    z-index: 200;
  }

  video {
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
    visibility: visible;
  }

  .btn-landing {
    background-color: $pokered;
    border-color: $pokered;
    letter-spacing: 1px;
    font-weight: 100;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s; 
  }

  .btn-landing:hover {
    background-color: #D2250D;
    border-color: #D2250D
  }

  #video-background.collapsing {
    display:none;
  }
  
  .about {
    
    background-image:url("http://images.alphacoders.com/235/235203.png");
    background-size: cover;
    font-family: 'Francois One', sans-serif;
    font-size: 25px;
    color: #11C8E3;
     
  }
  .pokedex-image {
    height: 50%;
  }
  #mission {
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
  }