// Prevents scrolling on the page
body, 
html {
	height: 100%;
}

div.wrapper {
	height: 100%;
	overflow: hidden;
}

body {
	overflow: hidden;
}

// styling for game tiles
.game-tile {
	background-color: green;
	border-color: darkgreen;
}