
//NoScroll: set both body and html height: 100%
body, 
html {
	height: 100%;
}
//NoScroll: set to stretch across all the body height
div.wrapper {
	height: 100%;
	overflow: hidden;
}
//NoScroll
body {
	overflow: hidden;
}