// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin-top: 70px;
}

/* styling for game tiles */
.game-tile {
	background-color: green;
	border: solid 1px white;
	padding: 0;
}