.show-grid {
  // border: 1px solid black;
}

.br12 {
  border-radius: 12px;
}

.borderblack {
  border: 3px solid black;
}

.borderright {
  border-right: 2px solid black;
}

.borderleft {
  // border-left: 2px solid black;
}

.padding {
  padding: 10px;
}

.padding20 {
  padding: 20px;
}

.red {
  background-color: $pokered;
}

.gray {
  background-color: lightgray;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: lightgreen;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.borderbottom {
  border-bottom: 1px solid black;
}

a, a:hover, a:focus {
  color: black;
}

.hoverGreen:hover {
  background-color: #5cb85c;
}

.pokedex {
  font-family: 'pokemon_gbregular';
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
